@model QDICodeChallenge.Web.ViewModels.ContactsListViewModel

@{
    ViewBag.Title = "Contacts List";
}

@section scripts {
<style>
    .name-row
    {
        font-size: 1.2em;
    }

    .template-row
    {
        border-bottom: 1px solid #666;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
</style>

<script>
    $(function () {
        var ViewModel = function () {
            this.contacts = ko.observableArray(@Html.Raw(Model.JSONContacts));

            this.currentContact = {};
            this.errorMessage = ko.observable();

            this.showError = function (error) {
                $('#error-container').fadeIn();
            };

            this.requestDelConfirm = function (contact) {
                vm.currentContact = contact;
                $('#deleteConfirmation').modal();
            };

            this.del = function () {
                var contact = ko.toJS(vm.currentContact);
                contactDataService.del(contact).done(function (response) {
                    vm.contacts.remove(function (item) {
                        return item.id === contact.id;
                    });
                }).fail(function (error) {
                    vm.showError(error);
                }).always(function () {
                    $('#deleteConfirmation').modal('hide');
                });
            };
        };
        var vm = new ViewModel();
        ko.applyBindings(vm);
    });
</script>
 }

<div class="jumbotron">
    <h1>Contact List</h1>
</div>
<div id="error-container" class="none">
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Oh no...</h4>
        <p>Something went wrong. Here's the error message:</p>
        <p data-bind="text: errorMessage"></p>
    </div>
</div>

<div data-bind="template: {name: 'contacts-template', foreach: contacts}"></div>

<script type="text/hmtl" id="contacts-template">
    <div class="row">
        <div class="col-md-12">
            <div class="template-row">
                <div class="row name-row">
                    <div class="col-md-12">
                        <label>Name:&nbsp;</label>
                        <span data-bind="text: lastname"></span>,
                        <span data-bind="text: firstname"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Zip Code:&nbsp;</label>
                        <span data-bind="text: zipcodeid"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- ko if: $data.zipcode.city -->
                        <label>Location:&nbsp;</label>
                        <span data-bind="text: zipcode.city,"></span>,
                        <span data-bind="text: zipcode.state"></span>&nbsp;
                        <span data-bind="text: zipcode.country"></span>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="row control">
                    <div class="col-md-12">
                        <a  href="#" class="btn-mini" data-bind="click: $parent.requestDelConfirm">Delete</a>
                        <a class="btn btn-primary btn-mini" data-bind="attr: {href: '/contact/edit/' + id}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<div tabindex="-1" id="deleteConfirmation" class="modal fade" role="dialog" aria-labelledby="del-confirm-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2 id="del-confirm-label">Confirm Delete</h2>
        </div>
        <div class="modal-body">
            <div>Are you sure you want to delete this contact?</div>
            <div class="alert alert-error push-down"><strong>Note:</strong>There is no way to undo this action.</div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" data-bind="click: del">Delete Home</button>
        </div>
    </div>
</div>   